<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" [formGroup]="form" (ngSubmit)="submit()">
				<div class="login__field">
					<input type="text" class="login__input" placeholder="Email" formControlName="email" [(ngModel)]="email">
				</div>
				<div class="login__field">
					<input type="password" class="login__input" placeholder="Password" formControlName="password" [(ngModel)]="password">
				</div>
				<button type="submit" class="button login__submit">
					<span class="button__text">Log In Now</span>
				</button>			
        <a [routerLink]="[ '/sign-up' ]" routerLinkActive="active">Don't have an account? Sign up</a>	
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>