<div class="preferences-page-container">
  <div class="screen preferences-content">
    <div class="preferences-content">
      <h1>Welcome {{email}}</h1>
      <h3> What are your interests? </h3>
      <mat-chip-list multiple class="preferences-container">
        <mat-chip *ngFor="let preference of preferences | keyvalue" [selected]="!!preference.value" #chip="matChip"
          (click)='selectChip(chip)' (selectionChange)="chipControlOnSelect($event,preference.key)">
          {{preference.key}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="buttons-container">
      <button class="button styled_button first_button" mat-raised-button (click)="saveAndProceed()">
        <span>proceed</span>
      </button>
      <button class="button styled_button" mat-raised-button (click)="onSkip()">
        <span>skip</span>
      </button>
    </div>
  </div>
</div>