<mat-card>
    <mat-card-title>Create Event</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="createEvent()">
  <p>
    <mat-form-field>
        <mat-select placeholder="Event type">
            <mat-option *ngFor="let eventType of eventTypes" [value]="eventType.value">
              {{ eventType.viewValue }}
            </mat-option>
          </mat-select>    
    </mat-form-field>
  </p>
<p>
    <mat-form-field appearance="outline">
        <input matInput formControlName="eventDate" [matDatepicker]="eventDatePicker">
        <mat-datepicker-toggle matSuffix [for]="eventDatePicker">
        </mat-datepicker-toggle>
        <mat-datepicker #eventDatePicker>
        </mat-datepicker>
      </mat-form-field>
</p>
</form>
</mat-card-content>
</mat-card>