<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="signin" [formGroup]="form" (ngSubmit)="submit()">
				<div class="signin__field">
					<input type="text" class="signin__input" placeholder="Email" formControlName="email" [(ngModel)]="email">
				</div>
				<div class="signin__field">
					<input type="password" class="signin__input" placeholder="Password" formControlName="password" [(ngModel)]="password">
				</div>
				<button type="submit" class="button signin__submit">
					<span class="button__text">Log In Now</span>
				</button>			
        <a [routerLink]="[ '/sign-in' ]" routerLinkActive="active">Already have an account? Sign in</a>	
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>